﻿<div ng-controller="BookReceiveController as bookCtrl">
    <div class="container">

        <form name="searchReveiveBookForm">
            <input ng-model="bookCtrl.bookCode" type="text" id="bookCode" class="form-control" placeholder="Search Criteria, EAN,UPC,ISBN, Title" ng-required="false" autofocus>
            <button ng-disabled="bookCtrl.isLoading" ng-click="bookCtrl.searchBookToReceive(searchReveiveBookForm)" class="btn btn-lg btn-primary btn-block" type="submit">Search A Book To Receive</button>
        </form>
        <div ng-if="bookCtrl.searchResults !== null" class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Student Email</th>
                    <th>BookCondition</th>
                    <th>ISNB10</th>
                    <th>Title</th>
                    <th>Selling Price</th>
                    <th>Default Price</th>
                    <th>Coop Price</th>
                    <th>Confirmation</th>
                    <th>Cancel</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in bookCtrl.searchResults | orderBy : 'Email'">
                    <th scope="row">{{$index}}</th>
                    <td>{{book.UserEmail}}</td>
                    <td>
                        <span style="cursor: pointer; font-weight: bold" ng-if="bookCtrl.editConditionIndex !== $index" ng-click="bookCtrl.editConditionIndex = $index">{{book.BookCondition}}</span>
                        <form ng-if="bookCtrl.editConditionIndex === $index" name="editCondition">
                            <div class="col-xs-6">
                                <select ng-model="bookCtrl.bookCondition" ng-options="bookCondition.BookCondition for bookCondition in bookCtrl.bookConditions" name="Condition" class="form-control input-xs" ng-required="true"></select>
                            </div>
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-xs btn-success" ng-click="bookCtrl.editBookCondition(editCondition, book)"><span class="fa fa-check"></span></button>
                                <button type="submit" class="btn btn-xs btn-danger" ng-click="bookCtrl.editConditionIndex = -1"><span class="fa fa-times"></span></button>
                            </div>
                        </form>
                    </td>
                    <td>{{book.ISNB10}}</td>
                    <td class="td-ellipsis">{{book.Title}}</td>
                    <td>{{book.SellingPrice}}</td>
                    <td>{{book.DefaultPrice}}</td>
                    <td>
                        <span style="cursor: pointer; font-weight: bold" ng-if="book.CooperativePrice === null" ng-click="bookCtrl.editPriceIndex = $index">Assign Price</span>
                        <span ng-if="book.CooperativePrice !== null">{{book.CooperativePrice}}</span>
                        <form ng-if="bookCtrl.editPriceIndex === $index" name="editPrice">
                            <div class="col-xs-8">
                                <input type="number" ng-model="bookCtrl.editedBookPrice" name="Price" class="form-control input-xs" required/>
                            </div>
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-xs btn-success" ng-click="bookCtrl.editBookPrice(editPrice, book)"><span class="fa fa-check"></span></button>
                                <button type="submit" class="btn btn-xs btn-danger" ng-click="bookCtrl.editPriceIndex = -1"><span class="fa fa-times"></span></button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-info btn-block" ng-click="bookCtrl.confirmReceive(book)">Confirm</button>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-infos btn-block" ng-click="bookCtrl.cancelReceive(book)">Cancel</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>