﻿<!-- <div class="table-responsive"> -->
    <table class="table table-hover font-small-size" ng-show="listCtrl.searchResults.length">
        <thead class="thead-inverse">
            <tr>
                <th class="hidden-xs">#</th>
                <th ng-if="listCtrl.hasProperty('BookCopyId')">{{ 'BOOK_COPY_ID' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('UserId')">{{ 'USER_ID' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('UserEmail')">{{ 'USER_EMAIL' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('BookDescriptionId')">{{ 'BOOK_DESCRIPTION_ID' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('ISNB10')">{{ 'ISNB10' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('EAN')" class="hidden-xs">{{ 'EAN' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('UPC')" class="hidden-xs">{{ 'UPC' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('Title')">{{ 'TITLE' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('Author')" class="hidden-xs">{{ 'AUTHOR' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('NbPage')" class="hidden-xs">{{ 'NB_PAGE' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('DefaultPrice')">{{ 'DEFAULT_PRICE' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('CooperativeId')">{{ 'COOP_ID' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('CooperativeName')">{{ 'COOP_NAME' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('CooperativeAddress')">{{ 'COOP_ADDRESS' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('CooperativePrice')">{{ 'COOP_PRICE' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('SellingPrice')">{{ 'SELLING_PRICE' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('ConditionId')">{{ 'CONDITION_ID' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('BookCondition')">{{ 'CONDITION_NAME' | translate }}</th>
                <th ng-if="listCtrl.hasProperty('EbayAddedDate')">{{ 'ON_EBAY_SINCE' | translate }}</th>
                <th ng-if="listCtrl.config.selectable">{{ 'SELECT' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in (value === undefined ? listCtrl.searchResults: value)">
                <th scope="row" class="hidden-xs">{{$index}}</th>

                <td ng-if="listCtrl.hasProperty('BookCopyId')">{{ book.BookCopyId }} </td>
                <td ng-if="listCtrl.hasProperty('UserId')">{{ book.UserId }} </td>
                <td ng-if="listCtrl.hasProperty('UserEmail')">{{ book.UserEmail }} </td>
                <td ng-if="listCtrl.hasProperty('BookDescriptionId')">{{ book.BookDescriptionId }} </td>
                <td ng-if="listCtrl.hasProperty('ISNB10')">{{ book.ISNB10 }} </td>
                <td ng-if="listCtrl.hasProperty('EAN')" class="hidden-xs">{{ book.EAN }} </td>
                <td ng-if="listCtrl.hasProperty('UPC')" class="hidden-xs">{{ book.UPC }} </td>
                <td ng-if="listCtrl.hasProperty('Title')" class="td-ellipsis">{{ book.Title }} </td>
                <td ng-if="listCtrl.hasProperty('Author')" class="hidden-xs">{{ book.Author }} </td>
                <td ng-if="listCtrl.hasProperty('NbPage')" class="hidden-xs">{{ book.NbPage }} </td>
                <td ng-if="listCtrl.hasProperty('DefaultPrice')">{{ book.DefaultPrice }} </td>

                <td ng-if="listCtrl.hasProperty('CooperativeId')">{{ book.CooperativeId }} </td>
                <td ng-if="listCtrl.hasProperty('CooperativeName')">
                    <span ng-if="!listCtrl.hasEditableProperty('CooperativeName')">{{book.CooperativeName}}</span>

                    <!--Editable-->
                    <span ng-if="listCtrl.editCooperativeIndex !== $index && listCtrl.hasEditableProperty('CooperativeName')"
                          ng-click="listCtrl.editCooperativeIndex = $index"
                          ng-style="listCtrl.hasEditableProperty('CooperativeName') && ({'cursor': 'pointer', 'font-weight': 'bold'})"
                          uib-tooltip="{{ 'TRANSFER_TOOLTIP' | translate }}" tooltip-class="customClass">
                        {{book.CooperativeName}}
                    </span>

                    <div ng-if="book.DestinationCooperativeId !== null" uib-alert ng-class="'alert-no-result'">
                        <i class="fa fa-exclamation-triangle"></i><span translate="{{'BOOK_TRANSFER_WARNING'| translate | textfilter: book.CooperativeName: book.FromCooperativeName}}"></span>
                    </div>

                    <form ng-if="listCtrl.editCooperativeIndex === $index && listCtrl.hasEditableProperty('CooperativeName')" name="editCooperative">
                        <div class="col-xs-6">
                            <select ng-model="listCtrl.Cooperative" ng-options="Cooperative.Name for Cooperative in listCtrl.cooperatives" name="Cooperative" class="form-control input-xs" ng-required="true"></select>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-xs btn-success" ng-click="listCtrl.editCooperative(editCooperative, book)"><span class="fa fa-check"></span></button>
                            <button type="submit" class="btn btn-xs btn-danger" ng-click="listCtrl.editCooperativeIndex = -1"><span class="fa fa-times"></span></button>
                        </div>
                    </form>
                </td>
                <td ng-if="listCtrl.hasProperty('CooperativeAddress')">{{ book.CooperativeAddress }} </td>
                <td ng-if="listCtrl.hasProperty('CooperativePrice')">
                    <span ng-if="book.CooperativePrice === null && listCtrl.hasEditableProperty('CooperativePrice')" ng-click="listCtrl.editPriceIndex = $index" style="cursor: pointer; font-weight: bold">{{ 'ASSIGN_PRICE' | translate }}</span>
                    <span ng-if="book.CooperativePrice !== null">{{book.CooperativePrice}}</span>
                    <form ng-if="listCtrl.editPriceIndex === $index && listCtrl.hasEditableProperty('CooperativePrice')" name="editPrice">
                        <div class="col-xs-8">
                            <input type="number" ng-model="listCtrl.editedBookPrice" name="Price" class="form-control input-xs" required />
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-xs btn-success" ng-click="listCtrl.editBookPrice(editPrice, book)"><span class="fa fa-check"></span></button>
                            <button type="submit" class="btn btn-xs btn-danger" ng-click="listCtrl.editPriceIndex = -1"><span class="fa fa-times"></span></button>
                        </div>
                    </form>
                </td>
                <td ng-if="listCtrl.hasProperty('SellingPrice')">{{ book.SellingPrice }}  $</td>

                <td ng-if="listCtrl.hasProperty('ConditionId')">{{ book.ConditionId }} </td>
                <td ng-if="listCtrl.hasProperty('BookCondition')">
                    <span ng-if="listCtrl.editConditionIndex !== $index || !listCtrl.hasEditableProperty('BookCondition')"
                          ng-click="listCtrl.editConditionIndex = $index"
                          ng-style="listCtrl.hasEditableProperty('BookCondition') && ({'cursor': 'pointer', 'font-weight': 'bold'})">
                        {{ listCtrl.getBookCondition(book) }}
                    </span>

                    <form ng-if="listCtrl.editConditionIndex === $index && listCtrl.hasEditableProperty('BookCondition')" name="editCondition">
                        <div class="col-xs-6">
                            <select ng-model="listCtrl.bookCondition" name="Condition" class="form-control input-xs" ng-required="true">
                                <option ng-if="listCtrl.getCurrentLanguage() === 'en'" ng-repeat="bookCondition in listCtrl.bookConditions" value="{{bookCondition}}">{{bookCondition.BookCondition}}</option>
                                <option ng-if="listCtrl.getCurrentLanguage() === 'fr'" ng-repeat="bookCondition in listCtrl.bookConditions" value="{{bookCondition}}">{{bookCondition.BookConditionFr}}</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-xs btn-success" ng-click="listCtrl.editBookCondition(editCondition, book)"><span class="fa fa-check"></span></button>
                            <button type="submit" class="btn btn-xs btn-danger" ng-click="listCtrl.editConditionIndex = -1"><span class="fa fa-times"></span></button>
                        </div>
                    </form>
                </td>

                <td ng-if="listCtrl.hasProperty('EbayAddedDate')" class="font-small-size"><a ng-href="http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&item={{book.ebayItemID}}">{{ book.EbayAddedDate | date : "short" }}</a></td>

                <td ng-if="listCtrl.hasAction('ConfirmReceive')">
                    <button class="btn btn-xs btn-success btn-block" uib-tooltip="{{ 'CONFIRM' | translate }}" ng-click="listCtrl.confirmReceive(book)"><i class="fa fa-cart-arrow-down"></i></button>
                </td>

                <td ng-if="listCtrl.config.selectable">
                    <div class="checkbox checkbox-primary" style="margin-top: 0px; margin-bottom: 0px; margin-left:40%;">
                        <input class="styled check_transfer" type="checkbox" ng-true-value="listCtrl.isSelected(book)" ng-click="listCtrl.select(book)" />
                        <label></label>
                    </div>
                </td>

                <td ng-if="listCtrl.hasAction('ConfirmReceptionFromTransfer')">
                    <button class="btn btn-xs btn-info btn-block" ng-click="listCtrl.ConfirmReceptionFromTransfer(book)" uib-tooltip="{{ 'CONFIRM_REC_TRANSFER_TOOLTIP' | translate }}" tooltip-class="customClass">{{ 'ACCEPT_TRANSFER' | translate }}</button>
                </td>

                <td ng-if="listCtrl.hasAction('ConfirmReservation')">
                    <button class="btn btn-sm btn-success btn-block" ng-click="listCtrl.openBraintreeForm(book)" uib-tooltip="{{ 'CONFIRM_RESERVATION_TOOLTIP' | translate }}"><i class="fa fa-cart-plus"></i></button>
                </td>
                <td ng-if="listCtrl.hasAction('CancelReceive')">
                    <button class="btn btn-xs btn-danger btn-block" uib-tooltip="{{ 'CANCEL' | translate }}" ng-click="listCtrl.cancelReceive(book)"><i class="fa fa-times"></i></button>
                </td>
                <td ng-if="listCtrl.hasAction('ConfirmRecovery')">
                    <button class="btn btn-xs btn-info btn-block" ng-click="listCtrl.confirmRecovery(book)" uib-tooltip="{{ 'BOOK_RECOVERY_TOOLTIP' | translate }}" tooltip-class="customClass">{{ 'COMPLETE_TRANSACTION' | translate }}</button>
                </td>
                <td ng-if="listCtrl.hasAction('CancelRecovery')">
                    <button class="btn btn-xs btn-danger btn-block" ng-click="listCtrl.cancelRecovery(book)" uib-tooltip="{{ 'CANCEL_BOOK_RECOVERY_TOOLTIP' | translate }}" tooltip-class="customClass">{{ 'CANCEL_TRANSACTION' | translate }}</button>
                </td>
                <td ng-if="listCtrl.hasAction('AddToEbay') && book.EbayAddedDate == null">
                    <button class="btn btn-xs btn-success btn-block" ng-click="listCtrl.addToEbay(book)" uib-tooltip="{{ 'ADD_EBAY_TOOLTIP' | translate }}" tooltip-class="customClass">{{ 'ADD_EBAY' | translate }}&nbsp;<i class="fa fa-plus"></i></button>
                </td>
                <td ng-if="listCtrl.hasAction('RemoveFromEbay') && book.EbayAddedDate != null">
                    <button class="btn btn-xs btn-danger btn-block" ng-click="listCtrl.removeFromEbay(book)" uib-tooltip="{{ 'REMOVE_EBAY_TOOLTIP' | translate }}" tooltip-class="customClass">{{ 'REMOVE_EBAY' | translate }}&nbsp;<i class="fa fa-minus"></i></button>
                </td>
            </tr>
        </tbody>
    </table>