﻿<div ng-controller="BookInfoListController as listCtrl">
    <div class="container">
        <h3 ng-if="listCtrl.config.title !== undefined && listCtrl.config.title !== null" class="center-block">{{listCtrl.config.title | translate}}</h3>
    </div>
    <div class="container">
        <form ng-if="listCtrl.hasSearchAction()" name="search" class="form-inline">
            <div class="input-group" style="width: 100%;  margin: 5px 0 10px 0;">
                <input 
                       ng-if="listCtrl.hasAction('ConfirmTransfer') == false && listCtrl.hasAction('ConfirmReceptionFromTransfer') == false" 
                       ng-model="listCtrl.bookCode" 
                       style="width: 100%;" 
                       type="text" 
                       id="bookCode" 
                       class="form-control" 
                       placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" 
                       ng-required="true" 
                       ng-keypress="($event.which === 13)?listCtrl.search(search):0"
                       autofocus
                />

                <input 
                      ng-if="listCtrl.hasAction('ConfirmTransfer') || listCtrl.hasAction('ConfirmReceptionFromTransfer')" 
                       ng-model="listCtrl.bookCode" 
                       style="width: 100%;" 
                       type="text" 
                       id="bookCode" 
                       class="form-control" 
                       placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" 
                       ng-keypress="($event.which === 13)?listCtrl.search(search):0"
                       autofocus
                />

                <span class="input-group-addon search-btn" ng-disabled="listCtrl.isLoading" ng-click="listCtrl.search(search)">
                    <i class="fa fa-search"></i>
                </span>
                
            </div>
        </form>
    </div>
    <div ng-if="listCtrl.searchResults !== null" class="container">
        <div ng-if="listCtrl.config.groupBy !== undefined" ng-repeat="(key,value) in listCtrl.searchResults | groupBy : listCtrl.config.groupBy" class="container">
            <h4>{{ 'TRANSFER_NUMBER' | translate }} {{key}}</h4>
            <ng-include src="'app/components/book/bookInfoList/bookInfoListElements.html'"></ng-include>
        </div>
        <div ng-if="listCtrl.config.groupBy === undefined" >
            <ng-include src="'app/components/book/bookInfoList/bookInfoListElements.html'"></ng-include>
        </div>

        <div ng-if="listCtrl.hasAction('ConfirmReceive') && !listCtrl.searchResults.length" class="no-results-msg">
            <i class="fa fa-meh-o"></i> {{ 'RECEIVE_NO_RESULTS' | translate }} ...
        </div>

        <div ng-if="listCtrl.hasAction('ConfirmReceptionFromTransfer') && !listCtrl.searchResults.length" class="no-results-msg">
            <i class="fa fa-meh-o"></i> {{ 'RECEPTION_FROM_TRANSFER_NO_RESULTS' | translate }} ...
        </div>

        <div ng-if="listCtrl.hasAction('ConfirmReservation') && !listCtrl.searchResults.length" class="no-results-msg">
            <i class="fa fa-meh-o"></i> {{ 'RESERVATION_NO_RESULTS' | translate }} ...
        </div>

        <div ng-if="listCtrl.hasAction('ConfirmRecovery') && !listCtrl.searchResults.length" class="no-results-msg">
            <i class="fa fa-meh-o"></i> {{ 'RECOVERY_NO_RESULTS' | translate }} ...
        </div>

        <div ng-if="listCtrl.hasAction('AddToEbay') && !listCtrl.searchResults.length" class="no-results-msg">
            <i class="fa fa-meh-o"></i> {{ 'EBAY_NO_RESULTS' | translate }} ...
        </div>

        <div ng-if="listCtrl.hasAction('confirmTransfer') && !listCtrl.searchResults.length" class="no-results-msg">
            <i class="fa fa-meh-o"></i> {{ 'CONF_TRANSFER_NO_RESULTS' | translate }} ...
        </div>

        <div ng-if="listCtrl.hasAction('createTransfer') && !listCtrl.searchResults.length" class="no-results-msg">
            <i class="fa fa-meh-o"></i> {{ 'CREATE_TRANSFER_NO_RESULTS' | translate }} ...
        </div>

        <div class="row" ng-if="listCtrl.hasAction('createTransfer') && listCtrl.searchResults.length != 0">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-9 col-lg-3">
                <button uib-tooltip="{{ 'TRANSFER_ACTION' | translate }}" tooltip-class="customClass"
                        class="btn btn-xs btn-success form-control"
                        ng-click="listCtrl.createTransfer(listCtrl.searchResults)">
                    {{ 'TRANSFER' | translate }}
                </button>
            </div>
        </div>

        <div class="row" ng-if="listCtrl.hasAction('confirmTransfer') && listCtrl.searchResults.length != 0">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-9 col-lg-3">
                <button class="btn btn-xs btn-success form-control" ng-click="listCtrl.confirmTransfer(listCtrl.searchResults)">
                    {{ 'RECEPTION_FROM_TRANSFER_NO_RESULTS' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>