﻿<div class="modal-header" style="padding: 5px !important; border: 2px solid #6f5499; background:#e5e5e5;">
    <h4 class="modal-title" id="modal-title">{{ 'RESERVE_PAYMENT'| translate | textfilter: book.Title: book.SellingPrice  }}</h4>
</div>
<form name="formCheckout" class="form-signin">
    <div class="modal-body" id="modal-body" style="border: 2px solid #6f5499;">
        <div class="row">
            <div class="col-xs-12">
                <div id="dropin-container"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="padding: 5px !important; border: 2px solid #6f5499;background:#e5e5e5;">
        <button class="btn btn-warning btn-sm" ng-click="listCtrl.cancel()" type="button">{{ 'RESERVE_CANCEL_BUTTON' | translate }}</button>
        <button class="btn btn-success btn-sm" type="submit">{{ 'RESERVE_BUY_BUTTON' | translate }}</button>
    </div>
</form>


