﻿<div class="modal-header" style="padding: 5px !important; border: 2px solid #6f5499;">
    <h4 class="modal-title" id="modal-title">Notification's request</h4>
</div>
<div class="modal-body" id="modal-body" style="padding: 5px !important; border: 2px solid #6f5499;">
    <div class="row">
        <div class="col-xs-12">
            <form name="requestNotification" class="form-signin">
                <div ng-if="book.DestinationCooperativeId !== null" uib-alert ng-class="'alert-no-result'" style="margin-bottom:10px; padding-bottom: 0px;">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp;<b>No result was found.</b>
                        <br />Specify a ISNB10 to receive an email notification when a book will be avaible to reserve.
                </div>
                <label for="ISNB10">ISNB10</label>
                <input ng-model="listCtrl.notification.ISNB10" type="text" id="ISNB10" style="margin-bottom:10px;" class="form-control input-sm" placeholder="ISNB10" required>
                <div class="col-xs-10">
                    <button ng-click="listCtrl.requestNotification(requestNotification)" class="btn btn-sm btn-primary btn-block" id="btnUserReg" type="submit">Request Notification</button>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-sm btn-warning" ng-click="vm.cancel()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>