﻿<div ng-controller="UserController as ctrl">
    <div class="modal-header" style="padding: 10px !important;">
        <h3 class="modal-title" id="modal-title">{{ 'USER_FORM' | translate }}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <form ng-if="!ctrl.registrationCompleted" name="formUserRegister" class="form-signin">
                    <label class="form-signin-heading">{{ 'CHOOSE_KIND_ACCOUNT' | translate }}</label>
                    <div class="btn-group">
                        <!--todo user roles from controller and fetch them from api-->
                        <label class="btn btn-default btn-md" ng-model="ctrl.user.roles[0].name" uib-btn-radio="'Manager'" uncheckable>{{ 'MANAGER' | translate }}</label>
                        <label class="btn btn-default btn-md" ng-model="ctrl.user.roles[0].name" uib-btn-radio="'Student'" uncheckable>{{ 'STUDENT' | translate }}</label>
                    </div>
                    <fieldset ng-if="ctrl.user.roles[0].name === 'Student' || ctrl.user.roles[0].name === 'Manager'">
                        <div class="col-xs-offset-1 col-xs-10">
                            <h4 class="form-signin-heading">{{ 'ENTER_INFO' | translate }}</h4>
                            <label for="inputEmail">{{ 'EMAIL_ADDRESS' | translate }}</label>
                            <input name="email"type="email" id="inputEmail" class="form-control input-sm" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" autofocus
                                   ng-model="ctrl.user.email" ng-change="ctrl.emailAvailable()" ng-required="ctrl.user.roles[0].name !== 'Student' || ctrl.user.roles[0].name === 'Student' && !ctrl.user.phoneNumber">
                            <div ng-if="ctrl.isEmailAvailable === false && formUserRegister.email.$dirty && formUserRegister.email.$touched" uib-alert ng-class="'alert-danger'">{{ 'EMAIL_TAKEN' | translate }}</div>
                            <!--Specific field for a student-->
                            <fieldset ng-if="ctrl.user.roles[0].name == 'Student'">
                                <label for="inputName">{{ 'PHONE_NUMBER' | translate }}</label>
                                <input name="phoneNumber" ng-model="ctrl.user.phoneNumber" type="number" id="phoneNumber" class="form-control input-sm" placeholder="Phone number"
                                       ng-required="ctrl.user.roles[0].name !== 'Student' || ctrl.user.roles[0].name === 'Student' && !ctrl.user.email">
                            </fieldset>
                            <label for="inputPassword">{{ 'PASSWORD' | translate }}</label>
                            <input ng-model="ctrl.user.password" type="password" id="inputPassword" class="form-control input-sm" placeholder="{{ 'PASSWORD' | translate }}" required>



                            <!--Specific field for a manager-->
                            <fieldset ng-if="ctrl.user.roles[0].name == 'Manager'">
                                <h4>{{ 'COOP' | translate }}</h4>

                                <label for="inputName">{{ 'NAME' | translate }}</label>
                                <input ng-model="ctrl.user.cooperative.name" type="text" id="inputName" class="form-control input-sm" placeholder="{{ 'NAME' | translate }}">

                                <label for="inputAddress">{{ 'COOP_ADDRESS' | translate }}</label>
                                <input ng-model="ctrl.user.cooperative.address" type="text" id="inputAddress" class="form-control input-sm" placeholder="{{ 'COOP_ADDRESS' | translate }}">
                            </fieldset>
                            <button ng-click="ctrl.save(formUserRegister)" class="btn btn-lg btn-primary btn-block btn-md" id="btnUserReg" type="submit">{{ 'CONFIRM' | translate }}</button>
                        </div>
                    </fieldset>
                </form>
                <div ng-if="ctrl.registrationCompleted">
                    <p>
                        {{ 'REGISTER_SUCCESS' | translate }}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer" style="padding: 10px !important;">
        <button class="btn btn-warning" ng-click="vm.cancel()" type="button">{{(ctrl.registrationCompleted ? 'OK': 'CANCEL') | translate}}</button>
    </div>
</div>
