﻿<div ng-controller="UserController as ctrl">
    <div class="container">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 img-rounded" id="login-panel">
            <h4>{{ 'HAVE_ACCOUNT' | translate }}</h4>
            <form name="loginForm" class="form-signin">
                <label for="inputEmail" class="sr-only">{{ 'EMAIL_ADDRESS' | translate }}</label>
                <input ng-model="ctrl.user.email" type="email" id="inputEmail" class="form-control" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" ng-required="true" autofocus>

                <label for="inputPassword" class="sr-only">{{ 'PASSWORD' | translate }}</label>
                <input ng-model="ctrl.user.password" type="password" id="inputPassword" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" ng-required="true">

                <button ng-disabled="ctrl.isLoading" ng-click="ctrl.login(loginForm)" class="btn btn-lg btn-purple btn-block" type="submit">{{ 'SIGN_IN' | translate }}</button>
            </form>               
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6" style="margin-top: 10px; text-align:center;">
                <span class="icon-med fa fa-facebook-square"></span>
                &nbsp;
                <span class="icon-med fa fa-twitter-square"></span>
                &nbsp;
                <span class="icon-med fa fa-google-plus-square"></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6" style="text-align:right; padding-right: 0;padding-left: 0;">
                <form class="form-signin">
                    <button ng-click="ctrl.openRegisterForm()" class="btn btn-sm btn-purple-smooth btn-block" style="margin-top:12px;">{{ 'WANT_REGISTER' | translate }}</button>
                </form>
            </div>
               
        </div>
    </div>
</div>