﻿<div ng-controller="BookController as bookCtrl">
    <div class="container">
        <h3 class="center-block">{{ 'SELL_BOOK' | translate }}</h3>
        <form name="searchBookForm" class="form-inline">
            <div class="input-group" style="width: 100%; margin: 5px 0 10px 0;">
                <input 
                       ng-model="bookCtrl.bookCode" 
                       style="width: 100%;" 
                       type="text" 
                       id="bookCode" 
                       class="form-control" 
                       placeholder="{{ 'SEARCH_PLACEHOLDER_SELL' | translate }}" 
                       ng-required="true" 
                       autofocus
                       ng-keypress="($event.which === 13)?bookCtrl.searchBook(searchBookForm):0"
                />
                <span class="input-group-addon search-btn" ng-disabled="bookCtrl.isLoading" ng-click="bookCtrl.searchBook(searchBookForm)">
                    <i class="fa fa-search"></i>
                </span>
            </div>
           <!-- <button ng-disabled="bookCtrl.isLoading" ng-click="bookCtrl.searchBook(searchBookForm)" class="btn btn-md btn-primary" style="margin-bottom: 4px !important;" type="submit"><span class="fa fa-search"></span></button> -->
        </form>
    </div>

    <div class="container">
        <form ng-if="bookCtrl.searchButtonClicked &&  bookCtrl.bookCopyInfo === null" name="addBookForm" class="form-signin">

            <div ng-if="bookCtrl.searchResult === null && bookCtrl.bookDescription === null" uib-alert ng-class="'alert-no-result'">
                <i class="fa fa-exclamation-triangle"></i>&nbsp;<span translate="{{'SELL_NO_RESULT'| translate}}"></span>
            </div>
            <div ng-if="bookCtrl.searchResult !== null && bookCtrl.bookDescription !== null" uib-alert ng-class="'alert-have-result'">
                <i class="fa fa-thumbs-o-up"></i>&nbsp;<span translate="{{ 'SELL_RESULT' | translate }}"></span>
            </div>

            <div style="text-align: center;">
                <h3>{{ 'BOOK_DETAILS' | translate }}</h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="ISNB10">{{ 'ISNB10' | translate }}</label>
                    <input ng-disabled="bookCtrl.fieldDisabled('ISNB10')" ng-model="bookCtrl.bookDescription.ISNB10" type="text" id="ISNB10" class="form-control input-sm" placeholder="{{ 'ISNB10' | translate }}">
                    <missing-info-alert class="alert-info-sm" ng-if="bookCtrl.searchResult.ISNB10 === null"></missing-info-alert>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="EAN">{{ 'EAN' | translate }}</label>
                    <input ng-disabled="bookCtrl.fieldDisabled('EAN')" ng-model="bookCtrl.bookDescription.EAN" type="text" id="EAN" class="form-control input-sm" placeholder="{{ 'EAN' | translate }}">
                    <missing-info-alert class="alert-info-sm" ng-if="bookCtrl.searchResult.EAN === null"></missing-info-alert>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="UPC">{{ 'UPC' | translate }}</label>
                    <input ng-disabled="bookCtrl.fieldDisabled('UPC')" ng-model="bookCtrl.bookDescription.UPC" type="text" id="UPC" class="form-control input-sm" placeholder="{{ 'UPC' | translate }}">
                    <missing-info-alert class="alert-info-sm" ng-if="bookCtrl.searchResult.UPC === null"></missing-info-alert>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <label for="Title">{{ 'TITLE' | translate }}</label>
                    <input ng-disabled="bookCtrl.fieldDisabled('Title')" ng-model="bookCtrl.bookDescription.Title" type="text" id="Title" class="form-control input-sm" placeholder="{{ 'TITLE' | translate }}" required>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <label for="Author">{{ 'AUTHOR' | translate }}</label>
                    <input ng-disabled="bookCtrl.fieldDisabled('Author')" ng-model="bookCtrl.bookDescription.Author" type="text" id="Author" class="form-control input-sm" placeholder="{{ 'AUTHOR' | translate }}" required>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <label for="NbPage">{{ 'NB_PAGE' | translate }}</label>
                    <input ng-disabled="bookCtrl.fieldDisabled('NbPage')" ng-model="bookCtrl.bookDescription.NbPage" type="number" name="NbPage" id="NbPage" class="form-control input-sm" placeholder="{{ 'NB_PAGE' | translate }}">
                    <missing-info-alert class="alert-info-sm" ng-if="bookCtrl.searchResult.NbPage === null"></missing-info-alert>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <label for="DefaultPrice">{{ 'DEFAULT_PRICE' | translate }}</label>
                    <input ng-disabled="bookCtrl.fieldDisabled('DefaultPrice')" ng-model="bookCtrl.bookDescription.DefaultPrice" type="number" id="DefaultPrice" class="form-control input-sm" min="0.00" step="1.00" placeholder="{{ 'DEFAULT_PRICE' | translate }}">
                    <missing-info-alert class="alert-info-sm" ng-if="bookCtrl.searchResult.DefaultPrice === null"></missing-info-alert>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <label for="DefaultPrice">{{ 'CONDITION_NAME' | translate }}</label>
                    <select ng-model="bookCtrl.bookCondition" name="Condition" class="form-control input-sm" ng-required="true">
                        <option ng-if="bookCtrl.getCurrentLanguage() === 'en'" ng-repeat="bookCondition in bookCtrl.bookConditions" value="{{bookCondition}}">{{bookCondition.BookCondition}}</option>
                        <option ng-if="bookCtrl.getCurrentLanguage() === 'fr'" ng-repeat="bookCondition in bookCtrl.bookConditions" value="{{bookCondition}}">{{bookCondition.BookConditionFr}}</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                    <button ng-disabled="bookCtrl.isLoading" ng-click="bookCtrl.addBookToSell(addBookForm)" class="btn btn-lg btn-success btn-block" type="submit">{{ 'CONFIRM' | translate }}</button>
                </div>
            </div>
        </form>

        <fieldset ng-if="bookCtrl.bookCopyInfo !== null">
            <div uib-alert ng-class="'alert-have-result'"><i class="fa fa-thumbs-o-up"></i> {{ 'BOOK_ADDED' | translate }}
            </div>
            <ng-include src="'app/components/book/bookInfoSummary.html'"></ng-include>
        </fieldset>
    </div>
</div>