﻿<dl class="dl-horizontal">
    <dt>{{ 'USER_EMAIL' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.Email}}</dd>

    <dt>{{ 'TITLE' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.Title}}</dd>

    <dt>{{ 'AUTHOR' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.Author}}</dd>

    <dt>{{ 'ISNB10' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.ISNB10}}</dd>

    <dt>{{ 'EAN' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.EAN}}</dd>

    <dt>{{ 'UPC' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.UPC}}</dd>

    <dt>{{ 'NB_PAGE' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.NbPage}}</dd>

    <dt>{{ 'DEFAULT_PRICE' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.DefaultPrice}}</dd>

    <dt>{{ 'COOP_ADDRESS' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.CooperativeAddress}}</dd>

    <dt>{{ 'COOP_NAME' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.CooperativeName}}</dd>

    <dt>{{ 'DEFAULT_PRICE' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.DefaultPrice}}</dd>

    <dt>{{ 'COOP_PRICE' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.CoopPrice}}</dd>

    <dt>{{ 'CONDITION_NAME' | translate }}</dt>
    <dd>{{bookCtrl.bookCopyInfo.BookCondition}}</dd>
</dl>