﻿body {
    background-color: #eee;
}

/* NAVBAR CUSTOMIZATION */
.navbar-dark {
    background-color: #202020;
    border-color: #808080;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar {
    min-height:30px;
}

.navbar-dark .navbar-nav>li>.dropdown-menu {
   border : 2px solid #6f5499;
   background: black;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open  {
    color : #6f5499;
    background:black;
}

     .navbar-dark .navbar-nav>li>.dropdown-menu>li>a {
       color : #BEBEBE;
    }  

     .navbar-dark .navbar-nav>li>.dropdown-menu>li>a:hover {
       color : black;
    }  
    .navbar-dark .navbar-nav > .active > a,
    .navbar-dark .navbar-nav > .active > a:focus,
    .navbar-dark .navbar-nav > .active > a:hover {
        background-color: #6f5499 !important;
        color : black !important;
        border: 1px solid #6f5499 !important;
    }

    .navbar-dark .navbar-nav>li>a {
        color: #9d9d9d;
    }

    .navbar-dark .navbar-nav > li > a:focus, .navbar-dark .navbar-nav > li > a:hover {
        color:white;
    }

    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

/* BUTTON CUSTOMIZATION */

.btn-purple {
    color: white;
    background-color: #381B63;
    border-color: #A287CC;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.btn-purple:hover {
    color: white;
    background-color: #6f5499;
    border-color: #204d74;
}

.btn-purple-smooth {
    color: black;
    background-color: #CC99FF;
    border-color: #381B63;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.btn-purple-smooth:hover {
    color: white;
    background-color: #6f5499;
    border-color: #204d74;
}

.c-action {
    outline: solid 1px grey;
    color:white;
}

.c-action:hover {
    background:white;
    color:black;
}

.c-action a:focus {
    background:#6f5499 !important;
    color:white !important;
    outline: solid 2px white;
}

#login-panel {
    margin-top: 20px;
    padding: 15px;
    border: 8px solid black;
}

.icon-sm {
    font-size:1em;
}

.icon-med {
    font-size:2em;
}

.form-signin {
    width: 100%;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff21;
}

.input-xs {
    padding: 3px 6px;
    height: 24px;
}

.btn-reserve {
    width: 20px;
    height:20px;
}

.td-ellipsis {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alert-no-result {
    padding-top : 0px;
    font-style : italic;
    color: red;
}

.alert-have-result {
    padding-top: 0px;
    font-style : italic;
    color: darkgreen;
}

.tooltip.customClass .tooltip-inner {
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
    display: none;
}

.check_transfer {
    width: 16px;
    height: 16px;

}

.search-btn {
    color:#cdbfe3;
    background-color: #6f5499;
    border : 2px solid #cdbfe3;
}
    .search-btn:hover { cursor:pointer; }

.alert-info-sm div{
    padding: 5px;
    margin-bottom: 3px;
}

/* THEAD Styling */
.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

.font-small-size {
    font-size: 9pt;
}

.no-results-msg {
    color: darkred;
    font-weight:bold;
    font-size: 14pt;
}