﻿<div ng-controller="HeaderController as headerCtrl">
    <nav class="navbar navbar-default navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#" style="padding:5px 12px; height: 30px;">
                        <img alt="Brand" class="img-rounded" src="web/images/gob.png" width="40" height="20">
                  </a>
            </div>
            <div class="navbar-dark" ng-controller="UserController as userCtrl">
                <ul class="nav navbar-nav">
                    <li ng-if="headerCtrl.userSettings.isGranted('header_book')">
                        <a href="#" ui-sref="gob">
                            <i class="fa fa-map-signs"></i> {{'DASHBOARD' | translate}}
                        </a>
                    </li>

                    <li ng-if="headerCtrl.userSettings.isGranted('header_book')" class="dropdown" >
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-child"></i> {{'ACTIONS' | translate}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-if="headerCtrl.userSettings.isGranted('book_inventory')"><a ui-sref="bookInventory"><i class="fa fa-list"></i>&nbsp;{{'INVENTORY' | translate}}</a></li>
                            <li ng-if="headerCtrl.userSettings.isGranted('book_add')"><a ui-sref="bookAdd"><i class="fa fa-credit-card"></i>&nbsp;{{'SELL_BOOK' | translate}}</a></li>
                            <li ng-if="headerCtrl.userSettings.isGranted('book_receive')"><a ui-sref="bookReceive"><i class="fa fa-cart-arrow-down"></i>&nbsp;{{'RECEIVE_BOOKS' | translate}}</a></li>
                            <li ng-if="headerCtrl.userSettings.isGranted('book_reserve')"><a ui-sref="bookReserve"><i class="fa fa-cart-plus"></i>&nbsp;{{'RESERVE_BOOKS' | translate}}</a></li>
                            <li ng-if="headerCtrl.userSettings.isGranted('book_recover')"><a ui-sref="bookRecover"><i class="fa fa-taxi"></i>&nbsp;{{'RECOVER_BOOKS' | translate}}</a></li>
                            <li ng-if="headerCtrl.userSettings.isGranted('book_transfer')"><a ui-sref="bookTransfer"><i class="fa fa-exchange"></i>&nbsp;{{'TRANSFER_BOOKS' | translate}}</a></li>
                            <li ng-if="headerCtrl.userSettings.isGranted('book_rec_transfer')"><a ui-sref="bookFromTransfer"><i class="fa fa-download"></i>&nbsp;{{'RECEIVE_TRANSFER' | translate}}</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right navbar-dark">
                    <li><a href="#" ng-click="headerCtrl.changeLanguage()">{{headerCtrl.otherLanguage()}}</a></li>
                    <li ng-if="headerCtrl.userSettings.isGranted('header_logout')">
                        <a href="#" ng-click="userCtrl.logout()">
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
