﻿<div ng-controller="LayoutController as lyctrl">
    <div ng-controller="UserController as userCtrl">
        <div class="col-xs-12 col-md-12" style="text-align: center; font-size: 20pt; margin: 5px 0 5px 0;">
            {{'ACTIONS' | translate}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">
            <div class="col-xs-12 col-sm-12" ng-if="lyctrl.userSettings.isGranted('book_reserve') || lyctrl.userSettings.isGranted('book_add')">
                <div ng-if="lyctrl.userSettings.isGranted('book_add')" style="margin: 5px 0 5px 0;">
                    <button class="btn btn-lg btn-purple" style="width: 100%;" ui-sref="bookAdd"><i class="fa fa-credit-card"></i>&nbsp;{{'SELL_BOOK' | translate}}</button>
                </div>

                <div ng-if="lyctrl.userSettings.isGranted('book_reserve')" style="margin: 5px 0 5px 0;">
                    <button ui-sref="bookReserve" style="width: 100%;" class="btn btn-lg btn-purple"><i class="fa fa-cart-plus"></i>&nbsp;{{'RESERVE_BOOKS' | translate}}</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div ng-if="lyctrl.userSettings.isGranted('book_receive')" style="margin: 5px 0 5px 0;">
                    <button ui-sref="bookReceive" style="width: 100%;" class="btn btn-lg btn-purple"><i class="fa fa-cart-arrow-down"></i>&nbsp;{{'RECEIVE_BOOKS' | translate}}</button>
                </div>

                <div ng-if="lyctrl.userSettings.isGranted('book_recover')" style="margin: 5px 0 5px 0;">
                    <button ui-sref="bookRecover" style="width: 100%;" class="btn btn-lg btn-purple"><i class="fa fa-taxi"></i>&nbsp;{{'RECOVER_BOOKS' | translate}}</button>
                </div>

                <div ng-if="lyctrl.userSettings.isGranted('book_transfer')" style="margin: 5px 0 5px 0;">
                    <button ui-sref="bookTransfer" style="width: 100%;" class="btn btn-lg btn-purple"><i class="fa fa-exchange"></i>&nbsp;{{'TRANSFER_BOOKS' | translate}}</button>
                </div>
                <div ng-if="lyctrl.userSettings.isGranted('book_rec_transfer')" style="margin: 5px 0 5px 0;">
                    <button ui-sref="bookFromTransfer" style="width: 100%;" class="btn btn-lg btn-purple"><i class="fa fa-download"></i>&nbsp;{{'RECEIVE_TRANSFER' | translate}}</button>
                </div>
                <div ng-if="lyctrl.userSettings.isGranted('book_inventory')" style="margin: 5px 0 5px 0;">
                    <button ui-sref="bookInventory" style="width: 100%;" class="btn btn-lg btn-purple"><i class="fa fa-list"></i>&nbsp;{{'INVENTORY' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
